<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>to-do-list by vue</title>
    <script src="./public/vue2.6.10.js"></script>
</head>
<body>

    <div id="app">
        <div>
            <input type="text" v-model="title" id="text-title" />
            <button id="btn" @click="add">submit</button>
        </div>
        <div>
            <ul>
                <li v-for="item in ulList">{{ item }}</li>
            </ul>
        </div>
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                title: '',
                ulList: []
            },
            methods: {
                add() {
                    this.ulList.push(this.title)
                    this.title = ''
                }
            }
        })

        /*  render方法
        with(this) {
            return _c('div', {
                attrs: {
                    "id": "app"
                }
            }, [_c('div', [_c('input', {
                directives: [{
                    name: "model",
                    rawName: "v-model",
                    value: (title),
                    expression: "title"
                }],
                attrs: {
                    "type": "text",
                    "id": "text-title"
                },
                domProps: {
                    "value": (title)
                },
                on: {
                    "input": function ($event) {
                        if ($event.target.composing) return;
                        title = $event.target.value
                    }
                }
            }), _v(" "), _c('button', {
                attrs: {
                    "id": "btn"
                },
                on: {
                    "click": add
                }
            }, [_v("submit")])]), _v(" "),
            _c('div', [_c('ul', _l((ulList), function (item) {
                return _c('li', [_v(_s(item))])
            }), 0)])])
        }
         * /
    </script>
</body>
</html>